.btn-contact {
    border-radius: 0;
    display: inline-block;
    padding: 13.5px 45px;
    background-color: #ffffff;
    font-size: 14px;
    color: #ea5267;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    border: 1px solid transparent;
}

.btn-contact:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
}

.btn-more {
    display: inline-block;
    padding: 12.5px 45px;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: .5s;
    transition: .5s;
    text-transform: capitalize;
    color: #ea5267;
    border: 1px solid #ea5267;
    font-family: montserrat, sans-serif;
}

.btn-more:hover {
    background-color: #fff;
    color: #000;
}

.learn-btn {
    display: inline-block;
    text-transform: capitalize;
    margin-top: 20px;
    color: #ea5267;
}

.learn-btn:hover {
    color: #d64357;
}

.btn-submit {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 14.5px 43px;
    background-color: #ea5267;
    border: 2px solid #ea5267;
}

.btn-submit:hover {
    color: #ea5267 !important;
    background-color: transparent;
}

.btn-download {
    display: inline-block;
    font-size: 14px;
    color: #90acd1;
    text-transform: capitalize;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 14.5px 43px;
    background-color: #ffffff;
    border: 2px solid #90acd1;
}

.btn-download:hover {
    color: #ffffff !important;
    background-color: transparent;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .btn-more {
        padding: 9.5px 28px;
    }
}