.service-area {
    position: relative;
    z-index: 1;
}

.section-tittle {
    margin-bottom: 76px;
}

.section-tittle p {
    color: #ea5267;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 14px;
}

.section-tittle h2 {
    font-size: 36px;
    color: #0a0b4d;
    line-height: 48px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    margin-top: 22px;
}

.service-area .single-service-area {
    text-align: center;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid transparent;
}

.service-area .single-service-area .single-service-text {
    padding: 50px 35px 44px;
}

.service-area .single-service-area .single-service-text span {
    background: #f3f3f7;
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 30px;
    color: #0d0f5b;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
}

.service-area .single-service-area .single-service-text h2 {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 34px;
    margin-bottom: 17px;
}

.service-area .single-service-area .single-service-text p {
    list-style: 1.8;
    color: #777;
}

.service-area .single-service-area:hover {
    border: 1px solid #e6e6ed;
}

.service-area .single-service-area:hover span {
    background-color: #fef6f7;
    color: #ea5267
}

@media (max-width: 991px) {
    .padding-bottom {
        padding-bottom: 70px;
    }

    .section-tittle {
        margin-bottom: 40px;
    }

    .service-area .single-service-area {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .section-tittle h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .service-area .single-service-area .single-service-text h2 {
        font-size: 18px !important;
    }
}