.form-contact .form-group {
    margin-bottom: 30px;
}

.form-contact .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: 0 0;
}

.form-contact textarea {
    border-radius: 12px;
    height: 100% !important;
}