.service_part {
    position: relative;
    z-index: 1;
}

.section_tittle {
    margin-bottom: 76px;
}

.section_tittle p {
    color: #ea5267;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 14px;
}

.section_tittle h2 {
    font-size: 36px;
    color: #0a0b4d;
    line-height: 48px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    margin-top: 22px;
}

.service_part .single_service_part {
    text-align: center;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid transparent;
}

.service_part .single_service_part .single_service_text {
    padding: 50px 35px 44px;
}

.service_part .single_service_part .single_service_text span {
    background: #f3f3f7;
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 30px;
    color: #0d0f5b;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
}

.service_part .single_service_part .single_service_text h2 {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 34px;
    margin-bottom: 17px;
}

@media (max-width: 991px) {
    .padding_bottom {
        padding-bottom: 70px;
    }

    .section_tittle {
        margin-bottom: 40px;
    }

    .service_part .single_service_part {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .section_tittle h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .service_part .single_service_part .single_service_text h2 {
        font-size: 18px !important;
    }
}