.contact-area {
    color: #777;
}

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact h2:before,
.contact h2:after {
    background-color: #777;
}

.contact-area .form-control {
    color: #777;
}

.contact-area .form-control::-webkit-input-placeholder {
    color: #777;
}

.contact-info {
    margin-bottom: 25px;
}

.contact-info-icon {
    margin-right: 20px;
}

.contact-info-icon i,
.contact-info-icon span {
    color: #8f9195;
    font-size: 27px;
}

.contact-info .media-body h3, 
.contact-info .media-body a {
    font-size: 16px;
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a;
}

.contact-info .media-body p {
    color: #8a8a8a;
}

.contact-info .media-body a:hover {
    text-decoration: underline;
}